<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head('宿泊予約 - みん泊予約', '')"></head>
<body>
<header th:replace="common/nav::header"></header>
<main class="contents container-fluid auth-page">
  <div class="row justify-content-center align-items-center mx-auto">
    <div class="authentication-content col-md-6 mt-5">
      <div class="auth-form">
        <h1 class="text-center auth-message">
          宿泊予約確認
        </h1>
        <form method="post" th:action="@{/reservation/complete}">
          <div>
            <p class="font-weight-bold">以下で予約を行ってよろしいですか？</p>
            <div class="form-group py-2">
              <label>宿泊者名</label>
              <p class="font-weight-bold" th:text="${name}" ></p>
            </div>
            <div class="form-group py-2">
              <label>チェックイン日</label>
              <p class="font-weight-bold" th:text="${reservation.checkInDate}" ></p>
            </div>
            <div class="form-group py-2">
              <lable>チェックアウト日</lable>
              <p class="font-weight-bold" th:text="${reservation.checkOutDate}" ></p>
            </div>
            <div class="form-group py-2">
              <lable>宿泊人数</lable>
              <p class="font-weight-bold" th:text="${reservation.guestNum}" ></p>
            </div>
            <div>
              <input class="btn btn-primary btn-block" type="submit" value="予約確定" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<div th:replace="common/scripts::scripts"></div>
</body>
</html>