<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common/head::common_head"></head>
<body>
<header th:replace="common/nav::header"></header>
<main class="contents container">
  <h1>
    Home
  </h1>
  <div id="contents"></div>
  <strong sec:authorize="isAuthenticated()">認証済み</strong>
  <strong sec:authorize="!isAuthenticated()">未認証</strong>
</main>
<div th:replace="common/scripts::scripts"></div>
<script
    src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
</script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
</script>
<script type="text/babel">
    var app = new Vue({
        el: '#contents'
    });
</script>
</body>
</html>