<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head"></head>
<body>
<h1>
  ログイン
</h1>
<div>
  <div th:if="${error}"><span th:text="${error}"></span></div>
  <form method="post" th:action="@{/login}" th:object="${loginForm}">
    <div>
      <label>ユーザID</label>
      <input type="text" th:field="*{username}" />
    </div>
    <div>
      <lable>パスワード</lable>
      <input type="password" th:field="*{password}" />
    </div>
    <input type="submit" value="ログイン" />
  </form>
  <div>
    <p>アカウントをお持ちでない方はこちらから</p>
    <a th:href="@{/register}">新規登録</a>
  </div>
</div>
<div th:replace="common/scripts::scripts"></div>
</body>
</html>