<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head('プロフィール - みん泊予約', '')"></head>
<body>
<header th:replace="common/nav::header"></header>
<main class="contents container-fluid auth-page">
  <div class="row justify-content-center align-items-center mx-auto">
    <div class="authentication-content col-lg-6 mt-5">
      <div class="auth-form">
        <div class="col-12">
          <h1 class="auth-message">
            プロフィール
          </h1>
        </div>
        <div>
          <div class="my-4 col-12">
            <div>
              <label class="text-primary">氏名</label>
            </div>
            <div>
              <span th:text="${profile.name}"></span>
            </div>
          </div>
          <div class="my-4 col-12">
            <div>
              <label class="text-primary">メールアドレス</label>
            </div>
            <div>
              <span th:text="${profile.emailAddress}"></span>
            </div>
          </div>
          <div class="my-4 col-12">
            <div>
              <label class="text-primary">住所</label>
            </div>
            <div>
              <span th:text="${profile.address}"></span>
            </div>
          </div>
          <div class="my-4 col-12">
            <div>
              <label class="text-primary">電話番号</label>
            </div>
            <div>
              <span th:text="${profile.phoneNumber}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div th:replace="common/scripts::scripts"></div>
</body>
</html>